@charset "utf-8";
html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
p, span{
	margin:0;
	padding:0;
}
body{
	display:block;
	overflow:auto;
}

.containerfirst{
	width:100%;
	height:900px;
	display:block;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
	background-position:50% 50%;
	background-image:url(personal-training.jpg);
}

.nav{
	position:fixed;
	width:100%;
	height:60px;
	margin:0 auto;
	background-color:#424A7A;
	opacity:0.8;
	z-index:2;
	min-width:1170px;
}

.nav img{
	height:45px;
	margin:5px 0 0 15%;
}
.nav ul{
	position:absolute;
	margin:20px 0 0 17%;
	display:inline-block;
}
.nav button{
	width:150px;
	height:30px;
	background: #F89406;
	border-radius: 2px;
	border:none;
	position:absolute;
	margin:15px 0 0 48%;
	font-family: "Open Sans";
	font-size: 14px;
	color: #FFFFFF;
	line-height: 19px;
}
.nav ul li{
	font-family: "Open Sans";
	font-size: 14px;
	color: #FFFFFF;
	line-height: 19px;
	display:inline-block;
	margin-right:30px;
}
.nav ul li:hover{
	cursor:pointer;
	border-bottom: 2px solid #FFFFFF;
}

/* Menu bar*/
/*???size of menu bar*???*/
#menu{
	position:relative;
	width:973px;
	height:120px;
	display:block;
	margin:0 auto;
}
#menu div{
	display:inline-block;
}
/*div for icon*/
/*???margin top*???*/
.icon{
	position:relative;
	margin-top:10px;
	margin-left:60px;
}
/*???size of image*???*/
.icon img{
	width:150px;
	display:block;
}
.icon p{
	font-family: "Open Sans";
	font-size: 18px;
	color: #FFFFFF;
	line-height: 24px;
}
/*div for menulist*/
/*???margin left*???*/
.menulist{
	position:absolute;
	margin:50px 0 0 30px;
	display:inline-block;
}
.menulist ul{
	margin-left:250px;
}
.menulist ul li{
	display:inline-block;
	margin-right:30px;
	font-family: "Open Sans";
	font-size: 18px;
	color: #FFFFFF;
	line-height: 24px;
}
.menulist ul li:hover{
	border-bottom: 2px solid #FFFFFF;
	padding-bottom:1px;
	cursor: pointer;
	cursor: hand;
}

/*First page body*/
#firstPageBody{
	width:973px;
	margin:100px auto 0 auto;
	text-align:center;
}
/*text in middle of page*/
#firstPageBody h1{
	display:block;
	opacity: 0.8;
	font-family: "Open Sans";
	font-weight:lighter;
	font-size: 50px;
	color: #FFFFFF;
	line-height: 68px;
	margin-bottom:122px;
}
/*Sign up div*/
.signup{
	width:973px;
	margin:0 auto;
	text-align:center;
}
.signupbutton{
	width:350px;
	height:50px;
	background: #F89406;
	border-radius: 2px;
	border:none;
	font-family: "Open Sans";
	font-size: 19.27px;
	color: #FFFFFF;
	line-height: 27px;
	margin-bottom:57px;
}
/*First page footer*/
.signup p{
	font-family: "Open Sans";
	font-weight:lighter;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 24px;
}
.signup p:last-of-type{
	font-family: "Open Sans";
	font-weight:lighter;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 24px;
	text-decoration:underline;
}
/*page 2 of home container*/
.containersecond{
	width:100%;
	height:709px;
	background-color: #53D2B1;

}
.content{
	width:973px;
	height:66px;
	display:block;
	margin:0 auto;
}
.containersecond div{
	display:inline-block;
}
/*left section*/

.leftsecond{
	padding:63px 39px 0 0;
	vertical-align:top;
}
.leftsecond p{
	font-family: "Open Sans";
	font-weight:bold;
	font-size: 48px;
	color: #424A7A;
	line-height:65px;
	text-align:right;
}
.line{
	margin-top:39px;
	height:600px;
	width:1px;
	border-left: 1px solid #424A7A;
	box-shadow: 1px 0px 4px 0px rgba(66,74,122,0.37);
	-moz-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
	transform:rotate(-10deg);
}
.rightsecond{
	padding:65px 0 0 10px;
	vertical-align:top;
	-moz-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
	transform:rotate(-10deg);
}
.rightsecond article{
	margin-bottom:55px;
}
.rightsecond p{
	font-family: "Open Sans";
	font-weight:bold;
	font-size: 28px;
	color: #424A7A;
	line-height: 54px;
	letter-spacing: 1.75px;
	-moz-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	transform:rotate(10deg);
}

/*??? font size for span???*/
.rightsecond p span{
	font-size:36px;
	color:#FFF;
}
/*third page*/
.thirdpage{
	background-image:url(image/ourproduct_image_bg.jpg);
	width:100%;
	min-width:1230px;
	height:1000px;
	display:block;
	background-repeat:no-repeat;
	background-size:cover;
	margin:0;
	background-position:25% 25%;
}
.thirdcontainer{
	
}
/*top text */
.thirdtop{
	width:auto;
	margin:0 auto;
	display:block;
	text-align:center;
}
.thirdtop h1{
	width:100%;
	font-family: "Open Sans";
	display:block;
	margin:0 auto;
	padding-top:50px;
	font-weight:bold;
	font-size: 36px;
	color: #424A7A;
	line-height: 49px;
}
.thirdtop p{
	font-family: "Open Sans";
	font-weight:bold;
	font-size: 20px;
	color: #424A7A;
	line-height: 22px;
}
/*Middle text*/
.thirdmiddle{
	margin-top:200px;
	width:42%;
	height:450px;;
	min-width:300px;
	text-align:right;
	
}
/*colorful stick beside monitor*/
.thirdmiddle p{
	float:right;
	height:50px;
	width:70%;
	font-family: "Open Sans";
	font-weight:bold;
	color: #FFFFFF;
	line-height: 45px;
	display:block;
	border-radius:22px 0 0 26px;
	padding-right:20px;
}
.thirdmiddle p:nth-of-type(1){
	background-color:rgba(248,148,6,0.75);
	-moz-transform:skewX(-3.8deg);

}
.thirdmiddle p:nth-of-type(2){
	background-color:#38AFDF;
	margin-right:3px;
	-moz-transform:skewX(-3.8deg);
}
.thirdmiddle p:nth-of-type(3){
	background-color: rgba(81,210,176,0.75);
	margin-right:6px;
	-moz-transform:skewX(-3.8deg);
}
.thirdmiddle p:nth-of-type(4){
	background-color: rgba(66,73,122,0.75);
	margin-right:8px;
	-moz-transform:skewX(-3.8deg);
}
.thirdmiddle p:nth-of-type(5){
	background-color: rgba(56,175,223,0.75);
	margin-right:11px;
	-moz-transform:skewX(-3.8deg);
}
.thirdmiddle p:nth-of-type(6){
	background-color:rgba(135,154,212,0.75);
	margin-right:13px;
	-moz-transform:skewX(-3.8deg);
}
/*circle iphone*/
.thirdcircle{
	width:100%;
	height:200px;
	text-align:right;
	padding-right:150px;
}
.thirdcircle img{
	-moz-transform:scale(1.8,1.8);
	-webkit-transform:scale(1.8,1.8);
	-o-transform:scale(1.8,1.8);
	transform:scale(1.8,1.8);

}

/*forth page*/
.forthpage{
	display:block;
	width:100%;
	height:3064px;
	margin:-2px auto 0 auto;
	text-align:center;
	background-image: linear-gradient(-180deg, #424A79 5%, #38ACFF 91%);
	z-index:-1;
}
.littlecircle{
	position:absolute;
	margin-left:145px;
}
.littlecircle2{
	position:absolute;
	margin-left:460px;
}

@media only screen and (min-width: 1170px){
	.thirdmiddle{
		font-size: 1.25vw;
	}
.circle{
}
.circle svg{
	margin:-70px auto 0 auto;
	fill:#53D2B1;
}

.circle svg text{
	font-family:"Open Sans";
	font-weight:bold;
	font-size:36px;
	fill:#FFF;
}
.circle svg line{
	visibility:visible;
}
}
@media only screen and (max-width: 1170px){
	.thirdmiddle {
	font-size: 14px;
}
	.circle{
		margin-bottom:-150px;
}
	.circle svg{
	margin:-40px auto 0 auto;
	fill:#53D2B1;
}

	.circle svg text{
	font-family:"Open Sans";
	font-weight:bold;
	font-size:26px;
	fill:#FFF;
}
	.circle svg line{
	visibility:hidden;
}
}

